body {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

footer {
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login-container {
    max-width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input:valid{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

button:hover {
    background-color: #272a27;
    font-size: larger;
}

button .material-icons {
    vertical-align: middle;
    margin-right: 8px;
}
